<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Builder</title>
  <link rel="stylesheet" href="styleMA.css">
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Personal Information</div>
    <div class="content">
      <!-- Personal Information form -->
      <form [formGroup]="dashboardForm">
        <div class="user-details">
          <!-- Input for First Name -->
          <div class="input-box" [class.error]="dashboardForm.controls['firstName'].dirty && dashboardForm.hasError('required','firstName')">
            <span class="details">First Name</span>
            <input formControlName="firstName" type="text" placeholder="Enter your First Name">
          </div>
          <!-- Input for Last Name -->
          <div class="input-box" [class.error]="dashboardForm.controls['lastName'].dirty && dashboardForm.hasError('required','lastName')">
            <span class="details">Last Name</span>
            <input formControlName="lastName" type="text" placeholder="Enter your Last Name">
          </div>
          <!-- Input for Email -->
          <div class="input-box" [class.error]="dashboardForm.controls['email'].dirty && dashboardForm.hasError('required','email')">
            <span class="details">Email</span>
            <input formControlName="email" type="text" placeholder="Enter your Email">
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box" [class.error]="dashboardForm.controls['phoneNumber'].dirty && dashboardForm.hasError('required','phoneNumber')">
            <span class="details">Phone Number</span>
            <input formControlName="phoneNumber" type="text" placeholder="Enter your Phone Number">
          </div>
          <!-- Input for Website -->
          <div class="input-box" [class.error]="dashboardForm.controls['website'].dirty && dashboardForm.hasError('required','website')">
            <span class="details">Website</span>
            <input formControlName="website" type="text" placeholder="Enter your Website">
          </div>
        </div>

        <!-- Summary Box -->
        <div class="summary-box" [class.error]="dashboardForm.controls['summary'].dirty && dashboardForm.hasError('required','summary')">
          <span class="details">Summary</span>
          <textarea formControlName="summary" type="text" placeholder="Enter your Summary"></textarea>
        </div>

        <!-- Continue button -->
        <div class="button">
          <input (click)="onSubmit()" type="submit" value="Continue">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
