/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Background styling */
body {
    min-height: 100vh; /* Ensures the body is at least as tall as the viewport */
    width: 100%; /* Full width of the viewport */
    max-width: 100%; /* Prevents overflow in width */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    background: linear-gradient(135deg, #68d0cd, #1c0455); /* Gradient covers full body height */  
}

/* Main container box */
.container {
  
  max-width: 800px;
  width: 60%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Main container box */
.textContainer {
  margin-top: 10px;
  max-width: 600vh;
  width: 100%;
  background-color: #d6ceff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}


/* Title section */
.title {
  font-size: 35px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  opacity: 0.9;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Subtitle text styling */
.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #555;
  margin-bottom: 25px;
  opacity: 0.9;
}

/* Button group styling */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between buttons */
}

/* Button styling */
.button-group input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.template-image {
  width: 100%;
  max-width: auto;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;


}

/* Go Back button style */
.go-back {
  width: 100%;
  max-width: 150px;
  max-height: 50px;
padding: 2px;
  background: linear-gradient(135deg, #71b7e6, #1c0455);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}
/*
.go-back:hover {
  background-color: #95a5a6;
}
*/
/* Resume Download button style */
.old-resume {
  background: linear-gradient(135deg, #71b7e6, #1c0455);
}

.old-resume:hover {
  background: linear-gradient(-135deg, #71b7e6, #1c0455);
}

/* New Resume button style */
.new-resume {
  background: linear-gradient(135deg, #9b59b6, #6f1d9b);
}

.new-resume:hover {
  background: linear-gradient(-135deg, #9b59b6, #6f1d9b);
}

/* Download Resume button style */
.download-resume {
  background: linear-gradient(135deg, #9f96d8, #7e69e8);
}

.new-resume:hover {
  background: linear-gradient(-135deg, #9f96d8, #7e69e8);
}

.logout-option {
  background: linear-gradient(135deg, #2f2f32, #a3a2a8);
}

.logout-option:hover {
  background: linear-gradient(-135deg, #2f2f32, #a3a2a8);
}



/* Responsive Design for small screens */
@media (max-width: 600px) {
  .container {
    max-width: 90%;
    padding: 20px;
  }

  .button-group input {
    height: 45px;
    font-size: 16px;
  }
  
}
