<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder Resource</title>
    <link rel="stylesheet" href="resourcePage.component.css">
</head>
<body>
    <div class="container">
        <div class="title">Resume Builder Tips and Tricks</div>
        <div class="subtitle">Enhance your resume with these powerfull tips!.</div>

        <div class="section">
            <h2>Tailor Your Resume</h2>
            <div class="textContainer">
            <ul>
                <li>Customize your resume for each job application by aligning with the job description.</li>
                <li>Highlight keywords from the job posting, especially in skills and experience sections.</li>
            </ul>
        </div>
        <div class="template-image">
            <img src="assets/css/images/pexels-goumbik-590016.jpg" alt="Template 2" class="template-image">
        </div>
        </div>

        <div class="section">
            <h2>Create a Strong Summary or Objective</h2>
            <div class="textContainer">
            <ul>
                <li>Include a concise 2-3 sentence summary of your career goals and value.</li>
                <li>Focus on your skills, achievements, and what you offer to the employer.</li>
            </ul>
            </div>
            <div class="template-image">
                <img src="assets/css/images/pexels-sora-shimazaki-5668869.jpg" alt="Template 2" class="template-image">
            </div>
        </div>

        <div class="section">
            <h2>Highlight Relevant Experience</h2>
            <div class="textContainer">
            <ul>
                <li>Use reverse chronological order, starting with your most recent role.</li>
                <li>Focus on accomplishments, not just responsibilities.</li>
            </ul>
            </div>
            <div class="template-image">
                <img src="assets/css/images/pexels-rdne-5922204.jpg" alt="Template 2" class="template-image">
            </div>
        </div>

        <div class="section">
            <h2>Keep It Concise</h2>
            <div class="textContainer">
            <ul>
                <li>Aim for one page unless you have 10+ years of experience or extensive technical expertise.</li>
                <li>Remove irrelevant jobs, outdated skills, or excessive details.</li>
            </ul>
            </div>
            <div class="template-image">
                <img src="assets/css/images/pexels-rdne-5915156.jpg" alt="Template 2" class="template-image">
            </div>
        </div>

        <div class="section">
            <h2>Be Honest</h2>
            <div class="textContainer">
            <ul>
                <li>Never exaggerate or lie about skills or experience; focus on how you can add value authentically.</li>
                <li>Be prepared to confidently talk about any part of your resume during an interview. Honesty fosters a more comfortable and authentic discussion.</li>
            </ul>
            </div>
            <div class="template-image">
                <img src="assets/css/images/pexels-rdne-7821494.jpg" alt="Template 2" class="template-image">
            </div>
        </div>

        <div class="go-back">
        <input type="button" class="go-back" value="Go Back" (click)="goBack()">
        </div>
    </div>

    
</body>
</html>
