<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Builder</title>
  <link rel="stylesheet" href="keywords.component.css">
</head>
<body> 
<div class="container">
  <!-- Title section -->
  <div class="title">Computer Science Keywords</div>

  <!-- Subtitle Text -->
  <div class="subtitle">
    Consider using these keywords as your skills
  </div>

  <div class="content">
    <!-- Action Verbs Section -->
    <div class="action-verbs">
      <ul class="verbs-list">
        <li><button (click)="addKeyword('C#')">C#</button></li>
        <li><button (click)="addKeyword('C++')">C++</button></li>
        <li><button (click)="addKeyword('Python')">Python</button></li>
        <li><button (click)="addKeyword('C')">C</button></li>
        <li><button (click)="addKeyword('Rust')">Rust</button></li>
        <li><button (click)="addKeyword('PHP')">PHP</button></li>
        <li><button (click)="addKeyword('JavaScript')">JavaScript</button></li>
        <li><button (click)="addKeyword('MATLAB')">MATLAB</button></li>
        <li><button (click)="addKeyword('Windows')">Windows</button></li>
        <li><button (click)="addKeyword('Linux')">Linux</button></li>
        <li><button (click)="addKeyword('Mac OS')">Mac OS</button></li>
        <li><button (click)="addKeyword('Swift')">Swift</button></li>
        <li><button (click)="addKeyword('Angular')">Angular</button></li>
        <li><button (click)="addKeyword('.Net')">.Net</button></li>
        <li><button (click)="addKeyword('Django')">Django</button></li>
        <li><button (click)="addKeyword('Fortran')">Fortran</button></li>
        <li><button (click)="addKeyword('Lisp')">Lisp</button></li>
        <li><button (click)="addKeyword('CSS')">CSS</button></li>
        <li><button (click)="addKeyword('HTML')">HTML</button></li>
        <li><button (click)="addKeyword('ASP.Core')">ASP.Core</button></li>
        <li><button (click)="addKeyword('Flask')">Flask</button></li>
        <li><button (click)="addKeyword('Kubernetes')">Kubernetes</button></li>
        <li><button (click)="addKeyword('Rubi')">Rubi</button></li>
        <li><button (click)="addKeyword('Docker')">Docker</button></li>
      </ul>
    </div>

    <!-- Continue button -->
    <div class="button">
      <input type="button" value="Go Back" (click)="goBack()">
      <input type="button" value="Continue" (click)="goToNextPage()">
    </div>
  </div>
</div>
</body>