<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Builder - Keywords</title>
  <link rel="stylesheet" href="keywords.component.css">
</head>
<body>
    <div class="container">
        <!-- Title section -->
        <div class="title">Computer Science Keywords</div>
      
        <!-- Subtitle Text -->
        <div class="subtitle">
          Consider using these keywords as your skills
        </div>
      
        <div class="content">
          <!-- Action Verbs Section -->
          <div class="action-verbs">
            <ul class="verbs-list">
              <li>C#</li>
              <li>C++</li>
              <li>Python</li>
              <li>C</li>
              <li>Rust</li>
              <li>PHP</li>
              <li>JavaScript</li>
              <li>MATLAB</li>
              <li>Windows</li>
              <li>Linux</li>
              <li>Mac OS</li>
              <li>Swift</li>
              <li>Angular</li>
              <li>.Net</li>
              <li>Django</li>
              <li>Fortran</li>
              <li>Lisp</li>
              <li>CSS</li>
              <li>HTML</li>
              <li>ASP.Core</li>
              <li>Flask</li>
              <li>Kubernetes</li>
              <li>Rubi</li>
              <li>Docker</li>
            </ul>
          </div>
      
          <!-- Continue button -->
          <div class="button">
            <input type="button" value="Go Back">
            <input type="button" value="Continue">
          </div>
        </div>
      </div>      
</body>
</html>
