<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Builder</title>
  <link rel="stylesheet" href="home.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main-container">
    <!-- Main Title -->
    <h1 class="title">ResumYay!</h1>
    
    <!-- Button Group -->
    <div class="button-group">
      <button (click)="onRegister()" [disabled]="buttonDisabled">Register</button>
      <button (click)="onLogin()" [disabled]="buttonDisabled">Log In</button>
    </div>
    
    <!-- Create Resume Button -->
    <div class="create-resume">
      <button (click)="onCreate()" [disabled]="buttonDisabled">Create a Resume</button>
    </div>

    <div class="content">
      <p>
        <br/><br/><a href="/about">About Us</a></p>
    </div>
  </div>
</body>
</html>

