<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Builder</title>
  <link rel="stylesheet" href="download.component.css">
</head>
<body>
  <form [formGroup]="downloadForm">
    <div class="container">
      <!-- Title section -->
      <div class="title">Download Your Resume</div>
  
      <!-- Message text -->
      <div class="subtitle">
        Please click the button to download your resume or go back if you want to edit.
      </div>
  
      <!-- Button Group -->
      <div class="button-group">
        <input type="button" class="download-resume" value="Resume Download" (click)="previewResumePress()">
        <input type="button" class="go-back" value="Go Back" (click)="goBack()">
        <input type="button" class="Options Page" value="Back to Options Page" (click)="goToOptions()">
        <input type="button" class="new-resume" value="Logout" (click)="onLogout()">
      </div>
    </div>
  </form>
</body>
</html>
