
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Option Menu</title>
  <link rel="stylesheet" href="resumeOption.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    
    <!-- Title section -->
    <h1 class="title">Welcome to ResumYay</h1>

    <!-- Message text -->
    <div class="container">
      What would you like to do:
    </div>
    
    <!-- Button Group -->
    <div class="button-group">
      <input type="button" class="old-resume" value="Continue With Old Resume" (click)="onEdit()" [disabled]="tempUser === 'yes'">
      <input type="button" class="new-resume" value="Start New Resume" (click)="onNewresume()">
      <input type="button" class="download-resume" value="Resume Export Page" (click)="onExportResume()" [disabled]="tempUser === 'yes'">
      <input type="button" class="TandT" value="Resume Tips and Tricks" (click)="onTipsandTricks()">
      <input type="button" class="logout-option" value="Logout" (click)="onLogout()" >

      <div class="input-box">
        <select required #majorSelection (change)="changeMajorType(majorSelection.value)">
          <option (change)="changeMajorType('Nothing')" [value]="'Nothing'">Nothing</option>
          <option (ngModelChange)="changeMajorType('Computer Scinence')" [value]="'Computer Science'">Computer Science</option>
          <option (ngModelChange)="changeMajorType('Business')" [value]="'Business'">Business</option>
        </select>
      </div>
    </div>

  </div>
</body>
</html>

