<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template Selection</title>
  <link rel="stylesheet" href="resumeTemplatePage.component.css">
</head>
<body>
  <div class="container">
    <!-- Title Section -->
    <div class="title">Choose Your Template</div>
    <div class="subtitle">Click on a button below to select a template.</div>

    <!-- Template Grid -->
    <div class="template-grid">
      <div class="template-card">
        <img src="assets/css/images/Resume1.jpg" alt="Template 1" class="template-image">
        <button class="select-template" (click)="downloadResumePress('1')">Select Template 1</button>
      </div>
      <div class="template-card">
        <img src="assets/css/images/Resume2.jpg" alt="Template 2" class="template-image">
        <button class="select-template" (click)="downloadResumePress('2')">Select Template 2</button>
      </div>
      <div class="template-card">
        <img src="assets/css/images/Resume3.jpg" alt="Template 2" class="template-image">
        <button class="select-template" (click)="downloadResumePress('3')">Select Template 3</button>
      </div>
      <div class="template-card">
        <img src="assets/css/images/Resume4.jpg" alt="Template 4" class="template-image">
        <button class="select-template" (click)="downloadResumePress('4')">Select Template 4</button>
      </div>
      <div class="template-card">
        <img src="assets/css/images/Resume5.jpg" alt="Template 5" class="template-image">
        <button class="select-template" (click)="downloadResumePress('5')">Select Template 5</button>
      </div>
      <!--<div class="template-card">
        <img src="assets/css/images/Resume5.jpg" alt="Template 5" class="template-image">
        <button class="select-template" (click)="downloadResumePress('5')">Select Template 2</button>
      </div>-->
      
      
      <div class="back-button">
      <input type="button" class="select-template" value="Go Back" (click)="goBack()">
    </div>
    </div>
  </div>
</body>
</html>
