<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume Option Menu</title>
  <link rel="stylesheet" href="about.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">

    <!-- Title section -->
    <h1 class="title">About ResumYay Team</h1>

    <!-- Message text -->
    <div class="content">
        <p>
            This is a project for CS 3300 at UCCS for Team 9.<br/><br/>
            This is an open-source project under the GPL 3.0 license.<br/><br/>
            The source code can be found on our 
            <a href="https://github.com/tommyhpham02/ResumeBuilder-CS3300-" target="_blank" rel="noopener noreferrer">GitHub</a>.<br/><br/>
            Should you have any questions, concerns, or ideas, please reach us at 
            <a href="mailto:myresumYay&#64;protonmail.com">myresumYay&#64;protonmail.com</a>.
          </p>
          
    </div>
    
    <!-- Button Group -->
    <div class="button">
        <input (click)="goBack()" type="button" value="Go Back">
    </div>
  </div>
</body>
</html>
